:host {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-button {    
        background-color: white;
    
        font-size: 1em;
        color: black;
        text-decoration: none;
    
        padding: 10px;
    
        display: block;

        &:hover {
            border: 2px solid black;
        }

        &.selected {
            background-color: black;
            color: white;

            &:hover {
                border: none;
            }
        }
    }

    .nav-button + .nav-button { // divider line
        border-left: 2px solid rgb(117, 117, 117);
    }
}