:host {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-button {
        border-color: white;
        border-bottom: 2px solid black;
        border-style: solid;
        border-radius: 5px;
    
        background-color: white;
    
        font-size: 1em;
        color: black;
        text-decoration: none;
    
        padding: 5px;
        margin: 5px;
    
        display: block;

        &:hover {
            border: 2px solid black;
        }
    }
}