app-header {
    height: 10%;
}

app-navbar {
    margin: 20px 10px 20px 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .submit:disabled {
        background-color: grey;
    }
}