:host {
    display: block;
    height: 100%;
}

.header-wrapper {
    height: 20%;

    app-header {
        min-height: 100%;
    }
}

app-navbar {
    height: 10%;
}

.wrapper {
    height: 70%;

    app-join-game {
        width: 100%;
    }
}
