:host {
    display: block;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;

    height: 100%;
}
