.join-game-wrapper {
    width: 40%;
    margin: 0px auto 0px auto;
    padding: 20px;

    border-radius: 10px;
    border: 2px solid black;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}